<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="BASE_DIR" value="./hantoo_log"/>
    <springProfile name="local">
        <property name="BASE_DIR" value="./hantoo_log"/>
    </springProfile>

    <property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n" />
    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd}T%d{HH:mm:ss.SSS}] [%X{REQUEST_ID}] %-5level %msg %n" />

    <include resource="org/springframework/boot/logging/logback/default.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="baseConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <appender name="RequestFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_DIR}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BASE_DIR}/request.log-%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!--    <logger name="reactor.netty.http.client" level="ERROR"/>-->

    <logger name="OrderLogger" level="INFO" additivity="false">
        <appender-ref ref="RequestFileAppender"/>
        <appender-ref ref="baseConsoleAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="baseConsoleAppender"/>
    </root>

    <root level="INFO">
        <appender-ref ref="RequestFileAppender"/>
    </root>


</configuration>
